<h1>Add a New Place</h1>
<form action="/places/create">
    Title: <input name="title"><br>
    Photo url: <input name="photo_url"><br>
    Price: <input name="price"><br>
    Description: <input name="description"><br>
    <button>submit</button>
</form>


